# Merge in Variables with FTND Subjects from Nelson GWAS
**Author**: Jesse Marks <br>
**GitHub Issue**: [#96](https://github.com/RTIInternational/bioinformatics/issues/96#issuecomment-469871339)

In [9]:
setwd("/Users/Jess/OneDrive - Research Triangle Institute/Projects/Nicotine/nelson/")
ftnd_data <- read.table("nelson.ea.CAT_FTND.AGE.SEX.EVs.v1", header=T)
main_phenotype <- read.table("HeroinRATRP.txt", header=T)
alcohol_overlap <- read.table("20190307.nicotine.nelson.alcabuse+alcoholdep4+ftnd.overlap.txt",
                             header=T)

head(ftnd_data)
head(main_phenotype)
head(alcohol_overlap)

  IID    CAT_FTND AGE SEX EV1     EV3     EV7     EV9
1 124153 0        47  1    0.0025  0.0210 -0.0256 -0.0155
2 153753 0        49  1   -0.0188  0.0109  0.0355 -0.0284
3 141752 0        45  2    0.0102 -0.0351 -0.0313  0.0039
4  32552 0        31  2    0.0071 -0.0007 -0.0122  0.0033
5 104552 0        33  2    0.0050  0.0080 -0.0210  0.0169
6 104802 0        39  1    0.0086 -0.0004  0.0168 -0.0337

  dbGaP_Subject_ID subjid age canuselong stimuselong seduselong opuselong
1 167957            901   36  0          0           0          0
2 172804           1001   32  0          0           0          0
3 170441           1150   53  0          0           0          0
4 173305           1202   68  0          0           0          0
5 167786           1301   42  0          0           0          0
6 176027           1450   63  0          0           0          0
  cocuselong study ftnd4  ... wdnicotine intennicotine quitnicotine
1 0          4       0.00 ... 1          0             0
2 0          4     -99.99 ... 1          0             0
3 0          4       0.00 ... 1          0             0
4 0          4       0.00 ... 1          0             0
5 0          4       0.00 ... 2          2             2
6 0          4       1.00 ... 1          1             2
  timenicotine actnicotine contnicotine clusternicotine nicotinedep4 sex
1 0            0           0            1               1            1
2 0            0           0            1               1            1
3 0            0           0            1               1            1
4 0            0           0            1               1            1
5 2            1           2            2               2            2
6 1            1           1            1               1            1
  control_groups
1 2
2 2
3 2
4 2
5 2
6 2

  iid    FTND alcabuse alcoholdep4
1 124153 0    1        1
2 153753 0    1        1
3 141752 0    2        1
4  32552 0    1        1
5 104552 0    1        1
6 104802 0    2        1

In [ ]:
### python ###

"""
Get variable overlap.
"""

date = "20190307"
phenotype = "ftnd"
phen = "nelson.ea.CAT_FTND.AGE.SEX.EVs.v1"
master = "HeroinRATRP.txt"
overlap1 = "alcabuse"
overlap2 = "alcoholdep4"
outfile = "{}.nicotine.nelson.{}+{}+{}.overlap.txt".format(date, overlap1, overlap2, phenotype)



with open(phen) as inF, open(master) as mF, open(outfile, "w") as outF: 
    head = inF.readline().split()
    head2 = mF.readline().split()
    print(head)
    print(head2)
    heroin_index = head2.index(overlap1)
    opioid_index = head2.index(overlap2)

    master_dic = {}
    line = mF.readline()
    print(line)
    while line:
        sl = line.split()
        master_dic[sl[1]] = (sl[heroin_index], sl[opioid_index])
        line = mF.readline()
    
    line = inF.readline()
    newhead = "iid\tFTND\t{}\t{}\n".format(overlap1, overlap2)
    outF.write(newhead)
    while line:
        sl = line.split()
        newline = sl[0] + "\t" + sl[1] + "\t" + "\t".join(master_dic[sl[0]]) 
        outF.write(newline + "\n")

        line = inF.readline()